
@{
    ViewData["Title"] = "AddEmployee";
}

<h1>AddEmployee</h1>

<form action="../Employee/AddEmployee" method="post">
    <input type="text" name="FirstName" placeholder="First Name" />
    <input type="text" name="LastName" placeholder="Last Name" />
    <input type="text" name="Email" placeholder="Email" />
    <input type="submit" value="Add Employee" />

</form>

